svg.icon(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 400 120')
    style(type='text/css').
        .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#333333;}
        .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#8B8B8B;}
    g#sim
        g#mir-logo(transform='translate(31.000000, 13.000000)')
            g#Group-5
                path#Combined-Shape.st0(d='M32.6,0C35.7,0,45-0.8,49,12.5c2.7,9,6.9,23.7,12.7,44.2l0,0h2.4\
                C70.4,35.1,74.7,20.4,77,12.5C81-1,91,0,95,0l30.9,0v96H94.4V39.4h-2.1L74.8,96H51.1L33.6,39.4h-2.1V96H0V0L32.6,0z M171,0v56.6\
                h2.5l21.3-46.6c4.1-9.3,13-10.1,13-10.1l0,0h30.4v96h-32.1V39.4h-2.5L182.7,86c-4.1,9.2-13.4,10.1-13.4,10.1h-30.4V0H171z\
                M349.3,45.6c-4.5,12.7-18.5,21.8-34.1,21.8l0,0h-33.7V96h-30.5V45.6H349.3z')
                path#path24.st1(d='M316.6,0h-67.3c1.6,21.4,20,39.7,39.1,39.7h63C355,21.9,342.5,0,316.6,0z')
