footer
    .container.footer-contacts
        .footer-item-group
            .footer-contact-email
                a.footer-phone(href="tel:+74993021486") 
                    img(src="assets/images/dest/phone.webp", alt="") 
                    | +7 (499) 302-14-86
                a.footer-email(href="mailto:helpdesk@manmuscles.ru") helpdesk@manmuscles.ru
            .footer-contact-link-group
                a.footer-contact-link(href="#")
                    include ../icons/bookmark
                    span Блог
                a.footer-contact-link(href="#")
                    include ../icons/info
                    span О нас
        .footer-item-group
            a.app-link(href="#")
                include ../icons/google-play
            .organization-info 
                span 2022 ИП Смирнов Александр Денисович
                span ИНН: 781425820185
                span ОГРНИП: 322784700063249
    .footer-bottom
        .container
            .footer-link-group
                a.footer-link(href="#") Политика конфеденциальности
                a.footer-link(href="#") Публичная Оферта
                a.footer-link(href="#") Политика возврата
                a.footer-link(href="#") Оферта рекуррентных платежей
                a.footer-link(href="#") Политика возврата
                a.footer-link(href="#") Оферта рекуррентных платежей
            #warn
                include ../icons/warn
                span Мы рекомендуем Вам проконсультироваться с врачом перед началом любой программы упражнений и плана питания
